.dark-mode {
  background-color: black;
  color: white;
}

/* Stops images stretching beyond the size of the screen */
img {
  max-width: 100%;
  display: block;
}

#jo-img {
  border-radius: 50%;
}

#top-nav {
  display:flex;
  justify-content: flex-end;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}
