/* -------- Toggles-------- */

.dark-mode {
  background-color: #333333;
  color: white;
}

.dark-mode img {
  opacity: 0.85;
}

.dark-mode #jo-img {
  opacity: 1
}

.dark-mode #palette-switch {
  color: white;
}

.dark-mode p, .dark-mode li, .dark-mode h2, .dark-mode h2, .dark-mode h4, .dark-mode h1 {
  color: white !important;
}

.dark-mode .tab, .dark-mode .fac-reason, .dark-mode .why-fac-content, .dark-mode .code-icon, .dark-mode span, .dark-mode footer, .dark-mode input:checked + label, .dark-mode #links a, .dark-mode .circle-mark {
  background-color: #333333 !important;
  color: white;
}
  
  .hidden-img, .invisible {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .white {
    color: white;
  }
  
  .active {
    color: #EC407A !important;
  }
  
  .thick {
    border-width: 4px !important;
    border-color: #f59dbb !important;
    font-weight: bold;
  }
  
  .filled, .dark-mode .filled {
    background-color: #E0B8CA !important;
  }
  
  /* -------- Structural Elements -------- */
  
  html, body {
    height: 100%
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  #top-nav {
    display:flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
  }
  
  #middle-nav {
    display: none;
  }
  
  #top-section {
    max-width: 1000px;
    margin: auto;
  }
  
  #about-me {
    padding: 1rem 0 3rem 0;
    background-color: #F7EBF3;
  }
  
  footer {
    background-color: #f59dbb;
    display: flex;
    justify-content: center;
  }
  
  header {
    padding-bottom: 5%;
    padding-top: 0.5%;
    position: relative;
    z-index: 2;
  }
  
  #lightning {
    position: absolute;
    top: 1vh;
    z-index: -1;
    right: 5%;
    transform: scale(1,1);
  }
  
  #about-this-content {
    padding-bottom: 5%;
  }
  
  #about-this-content p {
    max-width: 66ch;
  }
  
  li {
    margin-bottom: 2%;
  }
  
  #nothingHere {
    display: none;
  }

  #about-me, #about-this, #why-fac {
    line-height: 1.4;
  }
  
  /* -------- About me section -------- */
  
  /* #sparse-detail li {
    text-align: center;
  } */
  
  #sparse-detail, #more-detail, #most-detail {
    margin: auto;
    width: 85%;
  }
  
  .am-item {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
    padding-bottom: 1%;
  }
  
  .am-item-title {
    color: #680023;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .divider-strong {
    color: #EC407A;
    font-weight: bold;
  }
  
  .am-desc {
    color: #680023;
  }
  
  .divider-weak {
    color: #E0B8CA;
  }
  
  .detail {
    font-weight: bold;
    color: #EC407A;
  }
  
  /* -------- About site section -------- */
  
  #about-this-content li {
    font-family: "Nunito";
    margin-bottom: 1.5%;
    color: #680023;
    margin-right: 1%;
  }
  
  #whats-different {
    margin-right: auto;
    margin-left: auto;
    max-width: 66ch;
    font-family: "Nunito", Arial, sans-serif;
  }
  
  /* -------- Why FAC section -------- */
  
  #why-fac {
    background-color: #F7EBF3;
    padding: 0.5rem;
  }
  
  h3 {
    font-family: "Fredoka One";
    font-size: 1.75em;
    color: #D70D50;
  }
  
  .why-fac-content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#F7EBF3;
    z-index: 2;
  }
  
  #why-content {
    display: flex;
    justify-content: center;
  }
  
  .fac-reason {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5%;
    border: solid thin #E0B8CA;
    border-radius: 7%;
    margin-bottom: 12%;
    box-shadow: 0px 6px 10px #E0B8CA;
  }
  
  .code-icon {
    position: absolute;
    top: -20px;
    background-color: #F7EBF3;
    font-size: 2.5em;
  }
  
  #smirk {
    font-size: larger;
  }
  
  .reason-text {
    font-family: "Nunito", auto;
    font-size: 1.1em;
    color: #680023;
  }
  
  /* -------- Interactive Elements -------- */
  
  button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  a {
    text-decoration: none;
    color: #FF0040;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
  
  a:active {
    color: black;
  }
  
  .mn-button:hover, .mn-button:focus {
    background-color: #6A2F47;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  #links {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    min-width: 193px;
  }
  
  #links a {
    color: #680023;
    transition: color 0.5s ease;
  }
  
  #links a:hover {
    color: #EC407A;
  }
  
  #codewarsicon {
    height: 100%;
    width: 2.5em;
  }
  
  #scrollToTop {
    position: fixed;
    bottom: 1em;
    right: 15px;
    opacity: 0.8;
    display: none;
    transition: 0.5s ease;
    z-index: 500;
    color: #6A2F47;
  }
  
  #scrollToTop:hover {
    opacity: 1;
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
  }

  #colour-palette, #sun-moon {
    position: fixed;
    top: 11px;
    z-index: 1000;
  }
  
  #colour-palette {
    right: 57px;
  }
  
  #sun-moon {
    right: 18px;
  }
  
  /* ---- Hamburger links ----- */
  
  #menu {
    position: fixed;
    left: -100px;
    top: -100px;
    z-index: 105;
    width: 180px;
    cursor: pointer;
  }
  
  #menu-hamburger {
    position: absolute;
    top: 126px;
    right: 37px;
    transform-origin: center;
    transition: .5s ease-in-out;
  }
  
  #hamburger-menu {
    z-index: 200;
  }
  
  .hamburger {
    position: absolute;
    top: 135px;
    right: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
  }
  
  .hamburger::after, .hamburger::before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
  }
  
  .hamburger::before {
    top: -10px;
  }
  
  .hamburger::after {
    bottom: -10px;
  }
  
  input:checked ~ #menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  input:checked ~ #menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }
  
  input:checked ~ #menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }
  
  label {
      display: block;
      background: #EC407A;
      border-radius: 50%;
      width: 180px;
      height: 180px;
      position: fixed;
      top: -100px;
      left: -100px;
      transition: all .5s;
      cursor: pointer;
  }
  
  input:checked + label {
      width: 98%;
      height: 40%;
      top: -35px;
      left: -8px;
      border-radius: 13%;
      border: thick solid #b0aeae;
      background: white;
      box-shadow: 3px 3px 8px gray;
      z-index: 20;
      cursor: default;
  }
  
  input {
     visibility: hidden;
     position: absolute;
  }
  
  #hamburger-links {
    opacity: 0;
    z-index: 200;
    position: fixed;
    top: 5vh;
    left: 16vw;
    transition: .25s 0s ease-in-out;
    cursor: none;
    font-family: "Montserrat";
    font-size: 2.5vh;
  }
  
  #hamburger-links li {
    margin-bottom: 7%;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  input:checked ~ #hamburger-links { 
    opacity: 1;
    cursor: auto;
  }
  
  input:checked ~ #hamburger-links li {
    position: static;
    top: auto;
    left: auto;
    transition: color 0.5s ease;
  }
  
  input:checked ~ #hamburger-links li:hover { 
    color: black;
  }
  
  /* --------Detail scale-------- */
  
  #options {
    width: 87%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 13px;
    font-family: "Montserrat";
  }
  
  .option {
    cursor: pointer;
  }
  
  #detail-scale {
    width:80%;
    margin: auto;
    padding-bottom: 5%;
  }
  
  .lines {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .line{
    width: 50%;
    height: 47px;
    border-bottom: 2px solid #d4cfcf;
    }
  
  #circles {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  .circle-mark {
    width: 18px;
    border-radius: 50%;
    background-color: white;
    height: 18px;
    position: relative;
    top: -11px;
    border: 1px solid gray;
    cursor: pointer;
  }
  
  #circle3 {
    left: 2px;
  }
  
  #mark2 {
    margin-left: 47px;
  }
  
  /* -------- Text Elements -------- */
  
  h1 {
    text-align: center;
    font-family: "Aclonica";
    font-size: 2em;
    letter-spacing: 4px;
    text-shadow: 1px 4px 7px #6A2F47;
    color: #680023;
  }
  
  h2 {
    font-family: 'Montserrat';
    font-size: 50px;
    padding: 3%;
    text-align: center;
  }
  
  h4 {
    font-size: 1.5em;
    font-family: "Montserrat", Helvetica, sans-serif;
    letter-spacing: 2.5px;
    padding-top: 2%;
    color: #680023;
    margin-left: 1%;
  }
  
  p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: "Nunito", Arial, sans-serif;
    color: #680023;
  }
  
  .intro {
    text-align: center;
    padding-top: 2%;
    font-size: 1.1em;
    color: #680023;
  }
  
  /* ----- Image Elements -------- */
  
  /* Stops images stretching beyond the size of the screen */
  img {
    max-width: 100%;
    display: block;
  }
  
  #jo-img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: solid 6px #EC407A;
    box-shadow: 0px 0px 5px #680023;
  }
  
  #old-fac-img {
    margin: auto;
    max-height: 700px;
    max-width: 80%;
    padding: 3%;
  }

  #curly-arrow {
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg);
    margin-left: auto;
    margin-right: auto;
    height: 46vh;
  }

  /* Links section */

  #linkPointer {
    display: none;
  }

  #linkPointer p {
    padding-bottom: 1%;
  }

  #see-footer {
    cursor: pointer;
    color: #FF0040;
  }
  
  /* Image Carousel */
  
  #img-carousel {
    padding-bottom: 1rem;
  }
  
  #slide-container {
    position: relative;
    margin: auto;
    padding: 1em 0.5em;
    height: 400px;
  }
  
  #img-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #prevNext {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: -57%;
  }
  
  #prevNext i {
    opacity: 0.8;
    transition: opacity 0.5s ease;
    cursor: pointer;
    color: #F1D7E1;
  }
  
  #prevNext i:hover, #prevNext i:focus {
    opacity: 1;
  }
  
  #playPause {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 999999999;
    width: 10%;
    padding-bottom: 5%;
  }
  
  .playIcon, #pauseIcon {
    margin: 5px 5px 0px 5px;
    transition: color 0.5s ease;
  }
  
  .playIcon:hover, #pauseIcon:hover {
    color: #EC407A;
  }
  
  #img-nav-btns {
    display: none;
  }
  
  @media (min-width: 550px) {

    .fac-reason {
      margin-bottom: 8%;
    }
  }

  @media (min-width: 700px) {

    #about-this-content li {
      margin-right: 0;
    }

    h4 {
      margin-left: 0;
    }
  }
  
  /* --------------------STYLING FOR DIFFERENT SCREEN SIZES--------------------------- */
  /* Properties for larger screens */
  @media (min-width: 800px) {
  
  /* -------- Toggles-------- */
  
    .hidden {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    #colour-palette, #sun-moon {
      position: static;
      top: auto;
      right: auto;
    }
  
  /* -------- Text elements-------- */
  
    h2 {
      text-align: left;
      padding: 1% 0 0 3%
    }
  
  /* -------- Structural elements-------- */
  
    #page-container {
      flex: 1 0 auto;
    }
  
    #main-content-container {
      display: grid;
      grid-template-columns: 28% auto;
      margin-left: 4vw;
    }
  
    main section {
      padding: 0 !important;
    }
  
    main {
      position: relative;
      top: 11%;
    }
  
    footer {
      flex-shrink: 0;
      background-color: white;
      z-index: 300;
    }
  
    header {
      padding: 1rem 0 3rem 0;
      width: 28vw;
      margin-top: 19vh;
    }
  
    #lightning {
      top: 13vh;
      right: 6%;
      transform: scale(2,2);
    }
    
  
    #about-me {
      background-color: white;
    }
  
    #top-nav {
      position: absolute;
      height: 52px;
      background-color: #EC407A;
      width: 9vw;
      z-index: 301;
      left: 0%
    }
  
    #top-section {
      max-width: 610px;
    }
  
    #jo-img {
      width: 80%;
      border: solid 12px #EC407A;
    }

    #linkPointer {
      display: block;
    }
  
  /* About-me section - desktop size */
  
    #sparse-detail, #more-detail, #most-detail {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    #options{
      font-size: 18px;
    }
    
    #nothingHere {
      display: block;
      position: absolute;
      top: 30vh;
      left: 55vw;
      color: #EC407A;
      z-index: 0;
      margin-right: 5%;
    }
  
    #nothingHere p {
      text-align: center;
      font-family: "Montserrat";
    }
  
    #oops {
      font-size: 20px;
      font-weight: bold;
    }
  
    #nothingHere i {
      margin-left: 30%;
      transition: transform 0.7s ease;
    }
  
    #nothingHere i:hover {
      -webkit-transform: translate(0px, -20px);
      transform: translate(0px, -20px);
    }
  
    #nothingHere img {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #top-left-corner, #bottom-right-corner {
      width: 1%;
      padding: 4%;
    }
  
    #top-left-corner {
      border-left: thick dashed #E0B8CA;
      border-top: thick dashed #E0B8CA; 
    }
  
    #bottom-right-corner {
      border-right: thick dashed #E0B8CA;
      border-bottom: thick dashed #E0B8CA; 
      float: right;
    }
  
    .am-item {
      padding-bottom: 4%;
    }
  
    .am-section {
      margin-right: 2%;
    }
  
  /* Why FAC section - desktop size */
  
    #why-fac {
      background-color: white;
    }
  
    .why-fac-content {
      width: 95%;
      background-color:white;
    }
  
    .fac-reason {
      width: 45%;
      padding: 2% 8% 1% 8%;
      border: solid thin lightgray;
      border-radius: 7%;
    }
  
    .reason-text {
      align-self: flex-end;
      width: 118%;
    }
  
    .code-icon {
      background-color: white;
    }
  
    /* Middle Nav */
  
    #middle-nav {
      width: 91%;
      display: flex;
      justify-content: space-around;
      background-color: #EC407A;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      height: 60px;
      position: absolute;
      z-index: 299;
      right: 0;
    }
    
    .mn-button {
      padding: 0.5rem;
      border-right: solid #EC407A thin;
      display: flex;
      justify-content: center;
      width: 25%;
      cursor: pointer;
      align-items: center;
    }
    
    #link-container {
      border-right: none;
    }
    
    .tab {
      background-color: white;
      border: 0.3em solid #E0B8CA;
      border-radius: 25px;
      width: 90%;
      margin: 1.5em auto;
      overflow: auto;
      height: 78vh;
      z-index: 2;
    }
  
    .mn-button i, .am-item i {
      padding-right: 10px;
    }
  
    /* -------- Interactive Elements -------- */
  
    #colour-palette {
      background: linear-gradient(180deg,#0080ff, purple, red, orange, yellow, green, #0080ff);
      background-clip: text;
      -webkit-background-clip: text;
      transition: color 0.5s ease;
    }
    
    #colour-palette:hover {
      color: transparent;
    }
    
    #dark-mode-switch {
      transition: transform 0.7s ease
    }
    
    #dark-mode-switch:hover {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  
    #hamburger-menu {
      display: none;
    }
  
    #scrollToTop {
      right: 1.5em;
    }
  
    #colour-mode-buttons {
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;
    }
  
    /* ---- Image Carousel ----- */
  
    #slide-container {
      height: 55vh;
      padding: 0 0.5em 1em 0;
    }
  
    #img-nav-btns {
      display: flex;
      position: absolute;
      max-width: 0%;
      right: 14%;
      top: 37%;
      flex-direction: column;
      justify-content: space-evenly;
      height: 30%;
    }
    
    .img-nav {
      color: white;
      user-select: none;
      cursor: pointer;
      user-select: none;
      transition: 0.5s ease;
      padding: 0.5em;
      border: 3px solid;
      border-radius: 50%;
      margin: 0.5em;
      width: 15px;
      height: 15px;
      font-size: small;
      font-family: "Montserrat";
      font-weight: 800;
    }
  
    .images {
      width: 97%;
    }
  
    #prevNext {
      display: none;
    }
  
    #playPause {
      transition: color 0.2s ease;
      cursor: pointer;
      padding-bottom: 1%;
    }
  
    #playPause:hover {
      color: gray;
    }
  
  }
  /* end of media query: min-width: 800px */
  
  @media (min-width: 1000px) {
  
    #middle-nav {
      font-size: 22px;
    }
  
    #jo-img {
      width: 55%;
    }
  
    .reason-text {
      font-size: 1.1em;
    }
  
    #lightning {
      top: 8vh;
      transform: scale(1.5,1.5);
    }
  }
    
  @media (min-width: 1200px) {
  
    .fac-reason {
      padding: 1%;
      margin-bottom: 5%;
    }
  
    .reason-text {
      width: 100%;
    }
  
    #img-nav-btns {
      right: 9%;
    }
  
    #colour-mode-buttons {
      font-size: 20px;
      width: 9vw;
    }
  
    #main-content-container {
      margin-left: 0;
    }
  
    .am-item {
      padding-bottom: 1.5vh;
    }
  
    .am-section {
      margin-right: auto;
    }
  
    #lightning {
      top: 4vh;
      transform: scale(1.1,1.1);
    }
    
  }

  @media (min-width: 1650px) {

    #photo1 {
      object-position: 0 88%;
    }

    #photo2 {
      object-position: 0 43%;
    }
    
  }