/* -------- Toggles-------- */

.dark-mode {
  background-color: black;
  color: white;
}

.hidden-img, .invisible {
  display: none;
}

.white {
  color: white;
}

.active {
  color: blue !important;
}

.thick {
  border-width: 3px !important;
  border-color: #575656 !important;
}

/* -------- Structural Elements -------- */

#top-nav {
  display:flex;
  justify-content: flex-end;
}

#middle-nav {
  display: none;
}

#top-section {
  max-width: 1000px;
  margin: auto;
}

/* -----------Sections ----------- */

/* #about-me {
  display: block !important;
} */

/* -------- Why FAC section -------- */

.why-fac-content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fac-reason {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-bottom: 5%;
}

/* -------- Interactive Elements -------- */

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.nav-button {
  padding: 1% 1% 1% 1%;
  /* border: solid gray thin;
  border-radius: 25px; */
}

#links {
  text-align: center;
  padding: 6% 3% 3% 1%;
/*  bottom: 0;
  position: fixed;
  background-color: white; */
}

#links a {
  color: black;
  transition: color 0.5s ease;
}

#links a:hover {
  color: gray;
}

#codewarsicon {
  height: 100%;
  width: 2.5em;
}

/* ---- Hamburger links ----- */

#menu {
  position: fixed;
  left: -100px;
  top: -100px;
  z-index: 105;
  width: 180px;
  cursor: pointer;
}

#menu-hamburger {
  position: absolute;
  top: 126px;
  right: 37px;
  transform-origin: center;
  transition: .5s ease-in-out;
}

.hamburger {
  position: absolute;
  top: 135px;
  right: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: .5s ease-in-out;
}

.hamburger::after, .hamburger::before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

input:checked ~ #menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:checked ~ #menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ #menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label {
    display: block;
    background: #b0aeae;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: fixed;
    top: -100px;
    left: -100px;
    transition: all .5s;
    cursor: pointer;
}

input:checked + label {
    width: 98%;
    height: 40%;
    top: -35px;
    left: -8px;
    border-radius: 13%;
    border: thick solid #b0aeae;
    background: white;
    box-shadow: 3px 3px 8px gray;
    z-index: 20;
}

input {
   visibility: hidden;
   position: absolute;
}

#hamburger-links { 
  opacity: 0;
  z-index: 200;
  position: fixed;
  top: 50px;
  left: 100px;
  transition: .25s 0s ease-in-out;
}

input:checked ~ #hamburger-links { 
  opacity: 1; 
}

/* --------Detail scale-------- */

#options {
  width: 87%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#detail-scale {
  width:80%;
  margin: auto;
}

.lines {
  display: flex;
  width: 80%;
  margin: auto;
}

.line{
  width: 50%;
  height: 47px;
  border-bottom: 2px solid #d4cfcf;
  }

#circles {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.circle-mark {
  width: 20px;
  border-radius: 50%;
  background-color: white;
  height: 20px;
  position: relative;
  top: -10px;
  border: 1px solid gray;
}

#circle3 {
  left: 2px;
}

/* -------- Text Elements -------- */

h1 {
  text-align: center;
}

h3 {
  font: bold 30px Padauk;
  padding: 3%;
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#intro {
  text-align: center;
}

/* ----- Image Elements -------- */

/* Stops images stretching beyond the size of the screen */
img {
  max-width: 100%;
  display: block;
}

#jo-img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* Image Carousel */

#slide-container {
  position: relative;
  margin: auto;
  padding: 1em 0.5em;
  height: 400px;
}

#img-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prevNext {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  position: relative;
  top: -70%;
}

#playPause {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  z-index: 999999999;
  width: 10%;
  padding-bottom: 5%;
}

#playIcon, #pauseIcon {
  margin: 5px 5px 0px 5px;
  transition: color 1s ease;
}

#img-nav-btns {
  display: none;
}



/* --------------------STYLING FOR DIFFERENT SCREEN SIZES--------------------------- */
/* Properties for larger screens */
@media (min-width: 800px) {

/* -------- Toggles-------- */

  .hidden {
    display: none;
  }

/* -------- Text elements-------- */

h3 {
  text-align: left;
}

/* Why FAC section - desktop size */

  .fac-reason {
    width: 30%;
    padding-bottom: 2%;
  }

  /* Middle Nav */

  #middle-nav {
    border: thin solid gray;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  
  .mn-button {
    padding: 0.5rem;
    border-right: solid gray thin;
    display: flex;
    justify-content: center;
    width: 25%;
    cursor: pointer;
  }
  
  #link-container {
    border-right: none;
  }
  
  .tab {
    border: 0.3em solid lightblue;
    border-radius: 25px;
    width: 90%;
    margin: 1.5em auto;
  }

  /* -------- Interactive Elements -------- */

  #palette-switch {
    transition: scale 0.7s ease
  }
  
  #palette-switch:hover {
    transform: scale(1.1);
  }
  
  #dark-mode-switch {
    transition: transform 0.7s ease
  }
  
  #dark-mode-switch:hover {
    transform: rotate(180deg);
  }

  #hamburger-menu {
    display: none;
  }

  /* ---- Image Carousel ----- */

  #slide-container {
    height: 800px;
  }

  #img-nav-btns {
    display: flex;
    position: absolute;
    max-width: 0%;
    right: 8%;
    top: 37%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
  }
  
  .img-nav {
    color: white;
    user-select: none;
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease;
    padding: 0.5em;
    border: 3px solid;
    border-radius: 50%;
    margin: 0.5em;
    width: 15px;
    height: 15px;
    font-size: small;
  }

  #prevNext {
    display: none;
  }

  #playPause {
    transition: color 0.2s ease;
    cursor: pointer;
  }

  #playPause:hover {
    color: gray;
  }

}
/* end of media query: min-width: 800px */