/* -------- Toggles-------- */

.dark-mode {
  background-color: black;
  color: white;
}

.hidden-img, .invisible {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.white {
  color: white;
}

.active {
  color: blue !important;
}

.thick {
  border-width: 4px !important;
  border-color: #575656 !important;
  font-weight: bold;
}

.filled {
  background-color: lightgray !important;
}


/* -------- Structural Elements -------- */

html, body {
  height: 100%
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#top-nav {
  display:flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

#middle-nav {
  display: none;
}

#top-section {
  max-width: 1000px;
  margin: auto;
}

#about-me {
  padding: 1rem 0 3rem 0;
  background-color: #e8ecef;
}

footer {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

header, #about-this-content {
  padding-bottom: 5%;
}

li {
  margin-bottom: 2%;
}

h5 {
  font-size: 1.3em;
  margin-left: 3%;
}

#nothingHere {
  display: none;
}

/* -------- About me section -------- */

/* #sparse-detail li {
  text-align: center;
} */

#sparse-detail, #more-detail, #most-detail {
  margin: auto;
  width: 85%;
}

.am-item {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%;
  margin-left: 4%;
}

.am-item-title {
  text-transform: uppercase;
  font-weight: bold;
}

.divider-strong {
  color: gray;
  font-weight: bold;
}

.am-desc {
  color: black;
}

.divider-weak {
  color: lightgray;
}

.detail {
  /* text-transform: uppercase; */
  font-weight: bold;
  color: gray;
}

/* -------- About site section -------- */

#about-this-content li {
  max-width: 95%;
}

/* -------- Why FAC section -------- */

#why-fac {
  background-color: #e8ecef;
  padding: 0.5rem;
}

h4 {
  font-family: "Fredoka One";
  font-size: 1.75em;
}

.why-fac-content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:#e8ecef;
  z-index: 2;
}

#why-content {
  display: flex;
  justify-content: center;
}

.fac-reason {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5%;
  border: solid thin lightgray;
  border-radius: 7%;
  margin-bottom: 8%;
  box-shadow: 0px 6px 10px lightgray;
}

#code-icon {
  position: absolute;
  top: -20px;
  background-color: #e8ecef;
  font-size: 2.5em;
}

#smirk {
  font-size: larger;
}

/* -------- Interactive Elements -------- */

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #03c2d3;
}

a:hover, a:focus {
  text-decoration: underline;
  text-decoration-style: dashed;
}

a:active {
  color: black;
}

.mn-button:hover {
  background-color: pink;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

#links {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  min-width: 193px;
}

#links a {
  color: black;
  transition: color 0.5s ease;
}

#links a:hover {
  color: gray;
}

#codewarsicon {
  height: 100%;
  width: 2.5em;
}

#scrollToTop {
  position: fixed;
  bottom: 1em;
  right: 15px;
  opacity: 0.8;
  display: none;
  transition: 0.5s ease;
}

#scrollToTop:hover {
  opacity: 1;
  transform: translate(0px, -5px);
}

/* ---- Hamburger links ----- */

#menu {
  position: fixed;
  left: -100px;
  top: -100px;
  z-index: 105;
  width: 180px;
  cursor: pointer;
}

#menu-hamburger {
  position: absolute;
  top: 126px;
  right: 37px;
  transform-origin: center;
  transition: .5s ease-in-out;
}

#hamburger-menu {
  z-index: 200;
}

.hamburger {
  position: absolute;
  top: 135px;
  right: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: .5s ease-in-out;
}

.hamburger::after, .hamburger::before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

input:checked ~ #menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:checked ~ #menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ #menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label {
    display: block;
    background: #b0aeae;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: fixed;
    top: -100px;
    left: -100px;
    transition: all .5s;
    cursor: pointer;
}

input:checked + label {
    width: 98%;
    height: 40%;
    top: -35px;
    left: -8px;
    border-radius: 13%;
    border: thick solid #b0aeae;
    background: white;
    box-shadow: 3px 3px 8px gray;
    z-index: 20;
}

input {
   visibility: hidden;
   position: absolute;
}

#hamburger-links { 
  opacity: 0;
  z-index: 200;
  position: fixed;
  top: 50px;
  left: 100px;
  transition: .25s 0s ease-in-out;
  cursor: none;
}

#hamburger-links li { 
  margin-bottom: 7%;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input:checked ~ #hamburger-links { 
  opacity: 1; 
  cursor: pointer;
}

input:checked ~ #hamburger-links li { 
  position: static;
  top: auto;
  left: auto;
}

/* --------Detail scale-------- */

#options {
  width: 87%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 13px;
  font-family: "Montserrat";
}

.option {
  cursor: pointer;
}

#detail-scale {
  width:80%;
  margin: auto;
  padding-bottom: 5%;
}

.lines {
  display: flex;
  width: 80%;
  margin: auto;
}

.line{
  width: 50%;
  height: 47px;
  border-bottom: 2px solid #d4cfcf;
  }

#circles {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.circle-mark {
  width: 18px;
  border-radius: 50%;
  background-color: white;
  height: 18px;
  position: relative;
  top: -11px;
  border: 1px solid gray;
  cursor: pointer;
}

#circle3 {
  left: 2px;
}

#mark2 {
  margin-left: 47px;
}

/* -------- Text Elements -------- */

h1 {
  text-align: center;
}

h3 {
  font-family: 'Montserrat';
  font-size: 50px;
  padding: 3%;
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#intro {
  text-align: center;
  padding-top: 2%;
}

/* ----- Image Elements -------- */

/* Stops images stretching beyond the size of the screen */
img {
  max-width: 100%;
  display: block;
}

#jo-img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#old-fac-img {
  margin: auto;
  max-height: 700px;
  max-width: 80%;
  padding: 3%;
}

/* Image Carousel */

#img-carousel {
  padding-bottom: 1rem;
}

#slide-container {
  position: relative;
  margin: auto;
  padding: 1em 0.5em;
  height: 400px;
}

#img-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prevNext {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  position: relative;
  top: -70%;
}

#playPause {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  z-index: 999999999;
  width: 10%;
  padding-bottom: 5%;
}

#playIcon, #pauseIcon {
  margin: 5px 5px 0px 5px;
  transition: color 1s ease;
}

#img-nav-btns {
  display: none;
}



/* --------------------STYLING FOR DIFFERENT SCREEN SIZES--------------------------- */
/* Properties for larger screens */
@media (min-width: 800px) {

/* -------- Toggles-------- */

  .hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

/* -------- Text elements-------- */

  h3 {
    text-align: left;
    padding: 1% 0 0 3%
  }

/* -------- Structural elements-------- */

  #page-container {
    flex: 1 0 auto;
  }

  #main-content-container {
    display: grid;
    grid-template-columns: 28% auto;
    margin-left: 4vw;
  }

  main section {
    padding: 0 !important;
  }

  main {
    position: relative;
    top: 11%;
  }

  footer {
    flex-shrink: 0;
    background-color: white;
    z-index: 300;
  }

  header {
    padding: 1rem 0 3rem 0;
    width: 28vw;
    margin-top: 26vh;
  }

  #about-me {
    background-color: white;
  }

  #top-nav {
    position: fixed;
    height: 52px;
    background-color: gray;
    width: 9vw;
    z-index: 301;
    left: 0%
  }

  #top-section {
    max-width: 610px;
  }

  #jo-img {
    width: 80%;
  }

/* About-me section - desktop size */

  #sparse-detail, #more-detail, #most-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #options{
    font-size: 18px;
  }
  

  #nothingHere {
    display: block;
    position: absolute;
    top: 38vh;
    left: 55vw;
    color: gray;
    z-index: 0;
  }

  #nothingHere p {
    text-align: center;
    font-family: "Montserrat";
  }

  #oops {
    font-size: 20px;
    font-weight: bold;
  }

  #nothingHere i {
    margin-left: 30%;
    transition: transform 0.7s ease;
  }

  #nothingHere i:hover {
    transform: translate(0px, -20px);
  }

  #nothingHere img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #top-left-corner, #bottom-right-corner {
    width: 1%;
    padding: 4%;
  }

  #top-left-corner {
    border-left: thick dashed lightgray;
    border-top: thick dashed lightgray; 
  }

  #bottom-right-corner {
    border-right: thick dashed lightgray;
    border-bottom: thick dashed lightgray; 
    float: right;
  }

/* Why FAC section - desktop size */

  #why-fac {
    background-color: transparent;
  }

  .why-fac-content {
    width: 95%;
    background-color:white;
  }

  .fac-reason {
    width: 45%;
    padding: 2% 8% 1% 8%;
    border: solid thin lightgray;
    border-radius: 7%;
  }

  .reason-text {
    align-self: flex-end;
    width: 124%;
  }

  #code-icon {
    background-color: white;
  }

  /* Middle Nav */

  #middle-nav {
    width: 91%;
    display: flex;
    justify-content: space-around;
    background-color: gray;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    height: 60px;
    position: absolute;
    z-index: 299;
    right: 0;
  }
  
  .mn-button {
    padding: 0.5rem;
    border-right: solid gray thin;
    display: flex;
    justify-content: center;
    width: 25%;
    cursor: pointer;
    align-items: center;
  }
  
  #link-container {
    border-right: none;
  }
  
  .tab {
    background-color: white;
    border: 0.3em solid lightgray;
    border-radius: 25px;
    width: 90%;
    margin: 1.5em auto;
    overflow: auto;
    height: 78vh;
    z-index: 2;
  }

  .mn-button i, .am-item i {
    padding-right: 10px;
  }

  /* -------- Interactive Elements -------- */

  #palette-switch {
    transition: scale 0.7s ease
  }
  
  #palette-switch:hover {
    transform: scale(1.1);
  }
  
  #dark-mode-switch {
    transition: transform 0.7s ease
  }
  
  #dark-mode-switch:hover {
    transform: rotate(180deg);
  }

  #hamburger-menu {
    display: none;
  }

  #scrollToTop {
    right: 1.5em;
  }

  #colour-mode-buttons {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
  }

  /* ---- Image Carousel ----- */

  #slide-container {
    height: 52vh;
    padding: 0 0.5em 1em 0;
  }

  #img-nav-btns {
    display: flex;
    position: absolute;
    max-width: 0%;
    right: 14%;
    top: 37%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
  }
  
  .img-nav {
    color: white;
    user-select: none;
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease;
    padding: 0.5em;
    border: 3px solid;
    border-radius: 50%;
    margin: 0.5em;
    width: 15px;
    height: 15px;
    font-size: small;
  }

  .images {
    width: 97%;
  }

  #prevNext {
    display: none;
  }

  #playPause {
    transition: color 0.2s ease;
    cursor: pointer;
    padding-bottom: 1%;
  }

  #playPause:hover {
    color: gray;
  }

}
/* end of media query: min-width: 800px */

@media (min-width: 1000px) {

  #middle-nav {
    font-size: 22px;
  }

  #jo-img {
    width: 55%;
  }
}
  
@media (min-width: 1200px) {

  .fac-reason {
    padding: 1%;
    margin-bottom: 4%;
  }

  .reason-text {
    width: 100%;
  }

  #img-nav-btns {
    right: 9%;
  }

  #colour-mode-buttons {
    font-size: 20px;
    width: 9vw;
  }

  #main-content-container {
    margin-left: 0;
  }
}